---
import type { CollectionEntry } from 'astro:content'
import { formatDate, getReadingTime } from '@utils/posts'
import LinkButton from '@components/LinkButton.astro'
import Default from './default.astro'
import Layout from './layout.astro'

export interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const { title, author, description, ogImage, pubDatetime } = post.data

const { Content } = await post.render()

const ogUrl = new URL(ogImage || `${title}.svg`, Astro.url.origin).href
---

  <Layout title={title} author={author} description={description} ogImage={ogUrl}>
    <Default>
      <div class="prose m-auto mb-space">
        <h1 transition:name={`${post.slug}__title`} class="w-fit post-detail-title">{title}</h1>
        <p transition:name={`${post.slug}__time`} class="op-50 w-fit post-detail-time">
          {formatDate(pubDatetime)} · {getReadingTime(post.body)}
        </p>
      </div>

      <article class="prose post m-auto slide-enter animate-delay-200!">
        <Content />
      </article>
      <div class="prose m-auto my-8 slide-enter animate-delay-400!">
        <span font-mono op-50>{'> '}</span>
        <LinkButton
          href="/posts"
          className="op-50 font-mono hover:op-75"
        >
          cd ..
        </LinkButton>
      </div>
    </Default>
  </Layout>
    <!-- <script is:inline>
    document.addEventListener('astro:before-preparation', () => {
      const title = document.querySelector('.post-detail-title')
      const time = document.querySelector('.post-detail-time')
      const isTitleInViewport = title.getBoundingClientRect().top < window.innerHeight && title.getBoundingClientRect().bottom > 0
      if (isTitleInViewport)
        return
      title.style['view-transition-name'] = 'none'
      time.style['view-transition-name'] = 'none'
    }, { once: true })
    </script> -->
