---
import dayjs from 'dayjs'
import type { CollectionEntry } from 'astro:content'
import { formatDate, getReadingTime, getYearToPostMap } from '@utils/posts'
import slugify from '@utils/slugify'
import LinkButton from '@components/LinkButton.astro'
import Main from './Main.astro'
import Layout from './layout.astro'
import { title } from '@/meta'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
const yearToPostMap = getYearToPostMap(posts)
---

<Layout title={`posts | ${title}`}>
  <Main pageTitle="Blog">
    <ul>
      {
        !posts.length
          ? (
          <div text-center op-80>
            nothing here yet
          </div>
            )
          : null
      }
      {
        Object.keys(yearToPostMap)
          .reverse()
          .map((year, index) => (
            <Fragment>
              <div
                class="relative h-20 pointer-events-none slide-enter animate-duration-2000!"
                style={`--enter-stage: ${index}`}
              >
                <span
                  class="text-8em op-10 absolute left--3rem top--2rem font-bold"
                  style="line-height: 1.75;"
                >
                  {year}
                </span>
              </div>
              {yearToPostMap[year].map(({ data, body, id }) => (
                <div
                  class="slide-enter"
                  style={`--enter-stage: ${index}`}
                >
                  <a
                    rel="prefetch-intent"
                    href={`/posts/${slugify(data)}`}
                    class="item font-normal mb-6 mt-2 no-underline"
                  >
                    <li class="mb-2!">
                      {id.endsWith('-zh.md') && (
                        <span align-middle class="text-xs border border-current rounded px-1 pb-0.2 sm:ml--10.5 mr2">中文</span>
                      )}
                      <span class="text-lg leading-1.2rem">{data.title}</span>
                      <time
                        class="op-50 text-sm block"
                        datetime={dayjs(data.pubDatetime).toISOString()}
                      >
                        {formatDate(data.pubDatetime)} · {getReadingTime(body)}
                      </time>
                    </li>
                  </a>
                </div>
              ))}
            </Fragment>
          ))
      }
    </ul>
    <div class="prose m-auto my-8 slide-enter animate-delay-400!">
      <br />
      <span font-mono op-50>{'> '}</span>
      <LinkButton
        href="/"
        className="op-50 font-mono hover:op-75"
      >
        cd ..
      </LinkButton>
    </div>
  </Main>
</Layout>

<style>
  a.item {
    --at-apply: op-60 transition-opacity;
    transition-duration: 0.2s;
  }
  a.item:hover {
    opacity: 1;
  }
</style>
